<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1>Register Here</h1>
        <div class="form-container">
            <form id="register" action="">
                <input class="name" type="text" placeholder="first and last name">
                <input class="email" type="text" placeholder="email">
                <input class="password" type="text" placeholder="password">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="./public/index.js"></script>
</body>
</html>