*{
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(74, 72, 72);
    background-color: azure;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

